<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AarhusHavnModtagerAnlaegIds" value="85D720F4-4F89-4764-B8D0-26F28144B29F,76EE148B-AAC9-4D1A-A222-3CF5ADAA6E83" />
  </appSettings>
  <connectionStrings>
    <!--Infudv2-->
    <!--UnitTest-->
    <!--<add name="JordflytningEntities" connectionString="metadata=res://*/DataAccess.JFModel.csdl|res://*/DataAccess.JFModel.ssdl|res://*/DataAccess.JFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=infudv2\sql2008dev;initial catalog=Jordflytning0.13Unittest;persist security info=True;user id=Jordflytning;password=Jordflytning;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
     <add name="JordflytningEntities" connectionString="metadata=res://*/DataAccess.JFModel.csdl|res://*/DataAccess.JFModel.ssdl|res://*/DataAccess.JFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=infudv2\SQL2008DEV;Initial Catalog=Jordflytning;User Id=jordflytning;Password=Jordflytning;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    
    <!--TEST miljø-->
    <!--<add name="JordflytningEntities"
         connectionString="metadata=res://*/DataAccess.JFModel.csdl|res://*/DataAccess.JFModel.ssdl|res://*/DataAccess.JFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOSDINF75\SQLEXPRESS;Initial Catalog=JordflytningTestmiljoe;User Id=Jordflytning;Password=EAFA0BB6-3947-4925-8A54-9E010487F973;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient"/>-->

    <!--KVE localhost-->
    <!--<add name="JordflytningEntities" connectionString="metadata=res://*/DataAccess.JFModel.csdl|res://*/DataAccess.JFModel.ssdl|res://*/DataAccess.JFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=Jordflytning;integrated security=SSPI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
