<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=JordflytningTest;integrated security=SSPI;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
	</connectionStrings>
	<appSettings>
		<add key="dmpWfsUrl" value="https://b0902-prod-dist-app.azurewebsites.net/geoserver/wfs" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="dmpDKJordWfsUrl" value="https://b0501-prod-arldgeo-app.azurewebsites.net/geoserver/DKJord/wfs" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="MatrikelWfsUrl" value="https://nirasmap.niras.dk/wfs.aspx" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="kulturarvWfsUrl" value="http://www.kulturarv.dk/ffgeoserver/public/wfs" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="plansystemWfsUrl" value="http://geoservice.plansystem.dk/wfs/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="matrikelWfsRequestUrl" value="https://services.datafordeler.dk/MATRIKLEN2/MatGaeldendeOgForeloebigWFS/1.0.0/WFS?username=YMYCRRHZUF&amp;password=ind sæt password" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="geoEnvironUrl" value="http://netforvaltning.aarhus.geoenviron.dk/Service_GeoEnviron.svc" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<!-- add  key="geoEnvironUrl" value="https://aarhus-netforvaltning.geoenviron.dk/Service_GeoEnviron.svc" xdt:Transform="Replace" xdt:Locator="Match(key)" / -->
		<!--<add key="geoEnvironUsername" value="aarhusjordflyt" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="geoEnvironPassword" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->
	</appSettings>	
</configuration>