<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
  </configSections>
  <appSettings>
    <!--<add key="dmpWfsUrl" value="https://arealinformation.miljoeportal.dk/gis/services/DKJord/MapServer/WFSServer" /> -->
    <add key="dmpWfsUrl" value="https://dai.miljoeportal.dk/gis/services/DAIdb/MapServer/WFSServer" />
    <add key="dmpDKJordWfsUrl" value="https://dai.miljoeportal.dk/gis/services/DKJord/MapServer/WFSServer" />    
    <add key="MatrikelWfsUrl" value="http://strapdrift.kortinfo.net/wfs.aspx" />
  </appSettings>
  <connectionStrings>
    <!--UDVIKLING-->
    <!-- add name="JordflytningEntities" 
          connectionString="metadata=res://*/DataAccess.JFModel.csdl|res://*/DataAccess.JFModel.ssdl|res://*/DataAccess.JFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=infudv2\SQL2008DEV;Initial Catalog=Jordflytning151111;user id=jordflytning;password=Jordflytning;multipleactiveresultsets=True;application name=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" / -->
    
    <!--PRODUKTION-->
     <!--<add name="JordflytningEntities" 
         connectionString="metadata=res://*/DataAccess.JFModel.csdl|res://*/DataAccess.JFModel.ssdl|res://*/DataAccess.JFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOSDINF75\SQLEXPRESS;Initial Catalog=Jordflytning;User Id=jordflytning;Password=EAFA0BB6-3947-4925-8A54-9E010487F973;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient"/>-->
    <!--KVE localhost-->
    <!--<add name="JordflytningEntities" 
         connectionString="metadata=res://*/DataAccess.JFModel.csdl|res://*/DataAccess.JFModel.ssdl|res://*/DataAccess.JFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=Jordflytning;integrated security=SSPI;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />-->

    <!-- KTW localhost -->
    <add name="DefaultConnection" connectionString="Data Source=PC120532\SQLEXPRESS;Initial Catalog=JordflytningTest150828v14;User Id=ktw-dev;Password=123" providerName="System.Data.SqlClient" />
    <add name="JordflytningEntities" connectionString="metadata=res://*/DataAccess.JFModel.csdl|res://*/DataAccess.JFModel.ssdl|res://*/DataAccess.JFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC120532\SQLEXPRESS;Initial Catalog=JordflytningTest150828v14;User Id=ktw-dev;Password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService_GeoEnviron" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://netforvaltning.aarhus.geoenviron.dk/Service_GeoEnviron.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_GeoEnviron" contract="GeoEnvironServiceReference.IService_GeoEnviron" name="BasicHttpBinding_IService_GeoEnviron" />
    </client>
  </system.serviceModel>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
