/*
--Transportørerne som skal slettes
select 
t.id
--p.Navn,p.Efternavn , t.id,f.* 
from 
dbo.Transportoer t,
person p,
firmaoplysninger f
where 
	t.id = p.id
and p.FirmaoplysningerId = f.Id

and not t.Id in ('A6ECF656-42DE-4491-997C-C7C4D97D31FC','0C97605F-36A5-411D-B4A3-A73B9195C708')
order by Firmanavn

'A6ECF656-42DE-4491-997C-C7C4D97D31FC' --JesperDuedal fra  Johannes Sørensen
'0C97605F-36A5-411D-B4A3-A73B9195C708' --transportør id: Testtransportør
*/



delete from Lastbil where TransportoerId not in ('A6ECF656-42DE-4491-997C-C7C4D97D31FC','0C97605F-36A5-411D-B4A3-A73B9195C708');

delete from Transportoer where Id  not in ('A6ECF656-42DE-4491-997C-C7C4D97D31FC','0C97605F-36A5-411D-B4A3-A73B9195C708');

