/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [id]
      ,[TimeStamp]
      ,[Message]
      ,[level]
      ,[logger]
  FROM [Jordflytning].[dbo].[NLogEntries]
  where message like '%GetAnmeldelser Failed for bomsystem%'
  order by id desc
  
  
  SELECT TOP 1000 [id]
      ,[TimeStamp]
      ,[Message]
      ,[level]
      ,[logger]
  FROM [Jordflytning].[dbo].[NLogEntries]
  where message like '%CreateVognlaes Failed.%'
  order by id desc
  