/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id],geom,geom.ToString()
  FROM [Jordflytning].[dbo].[Oprindelsessted]
  where geom.STIsValid() =0

--03-06-2014
--Id	geom	(No column name)
--BC33839C-D5B6-4208-8CE6-D8B759C093E1	0xE86400000100070000006766666638842141FFFFFF7F1AC75741333333335D842141666666E609C757416666666658842141999999190CC7574199999999E38421419999991917C757416666666658842141999999190CC75741CDCCCCCC468421410000008014C7574133333333C5842141FFFFFF7F19C7574101000000010000000001000000FFFFFFFF0000000002	LINESTRING (573980.20000000007 6233193.9999999991, 573998.6 6233127.6, 573996.2 6233136.3999999994, 574065.79999999993 6233180.3999999994, 573996.2 6233136.3999999994, 573987.4 6233170, 574050.6 6233189.9999999991)  
  
select geom.MakeValid()  
FROM [Jordflytning].[dbo].[Oprindelsessted]
  where geom.STIsValid() =0
  
update Oprindelsessted set Geom = Geom.MakeValid()
where Id='BC33839C-D5B6-4208-8CE6-D8B759C093E1'
  
  POLYGON ((
  572308.79999999993 6228263.0000000009, 
  572457.59999999986 6228133.4000000013, 
  572363.19999999984 6228047.0000000019, 
  572228 6228165.4000000013, 
  572228.8 6228165.4000000013, 
  572228.8 6228166.2000000011, 
  572229.6 6228169.4000000013, 
  572298.39999999991 6228115.0000000019, 
  572228.8 6228164.6000000015, 
  572308.79999999993 6228263.0000000009))
  
  select * from Anmeldelse where id='BC33839C-D5B6-4208-8CE6-D8B759C093E1' --2426,-2922
  --select * from kommune where id='A15D5888-BC70-4206-871E-A47A0C05DECC'
  
  --select MAX(nummer) from Anmeldelse
  
  
  SELECT TOP 1000 [Id],geom.ToString()
  FROM ModtagerAnlaeg
  where geom.STIsValid() =0


 update ModtagerAnlaeg set Geom = Geom.MakeValid()
WHERE [Geom].STIsValid() = 0 


SELECT TOP (1000) [Eid]
      ,[id]
      ,[JordanlaegTypeId]
      ,[Geom].STIsValid() GeomValid
	  ,Geom.STAsText() WKT
  FROM [Jordflytning].[dbo].[MapModtagerAnlaeg]
  WHERE [Geom].STIsValid() = 0 