/****** Script for SelectTopNRows command from SSMS  ******/

--Antal manuelle godkendte af kommunen
SELECT sa.[PersonId], p.Navn,p.Efternavn,count(*)
  FROM [StatusAnmeldelse] sa, StatusAnmeldelseType sat,  person p
  where sa.StatusAnmeldelseTypeId=sat.Id
  and sat.Kode=7
  and p.Id=sa.PersonId
  group by sa.PersonId,p.navn,p.efternavn
  

-- Antal godkendte bookinger af FlytJord
SELECT count(*)
  FROM [StatusAnmeldelse] sa, StatusAnmeldelseType sat
  where sa.StatusAnmeldelseTypeId=sat.Id
  and sat.Kode=7
  and sa.PersonId is null

SELECT count(*)
  FROM [StatusAnmeldelse] sa, StatusAnmeldelseType sat
  where sa.StatusAnmeldelseTypeId=sat.Id
  and sat.Kode=7
  and not sa.PersonId is null    



/*
1470D28A-C48A-489D-B230-4536F8F0B995	Anmeldelse aktiv	1	13  
F6ECC1C9-CA82-4561-839D-D86A6AD39EC5	Jordmodtager accepterer jorden	1	9
*/