select 
a.nummer,s.*
from Anmeldelse a, StatusAnmeldelse s,StatusAnmeldelseType sat
where 
a.Nummer=3019 
and 
a.Id=s.AnmeldelseId
and s.StatusAnmeldelseTypeId= sat.Id
and sat.Kode=11


delete from StatusAnmeldelse where Id='E060BCFA-C9B2-4918-9328-F4301F6A5F1F'


select 
a.nummer,s.*
from Anmeldelse a, StatusAnmeldelse s,StatusAnmeldelseType sat
where 
a.Nummer=3019 
and 
a.Id=s.AnmeldelseId
and s.StatusAnmeldelseTypeId= sat.Id
and sat.Kode=13
order by s.Tid desc


update 
StatusAnmeldelse
set Tid=GETDATE()
where Id='FB6E72BC-56FD-4934-B3B1-2FD10124D06E'