<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      autoReload="true">

	<targets async="true">
		<target name="textFileLog"
            xsi:type="File"
						fileName="${basedir}/Logs/${shortdate}.log"
            layout="${longdate}|${logger}|${level}|${message}|${onexception: ${newline}${message}}|${exceptiondetails}"
						archiveEvery="Day"
						maxArchiveFiles="90"
		/>

		<target name="mail" xsi:type="Mail" smtpServer="mxi.niras.net" smtpPort="25"
						from="jordflytning@niras.dk" to="kve@niras.dk,kfk@niras.dk,tok@niras.dk"
						subject="${longdate} ${logger}: ${message} ${newline} ${exceptiondetails}"
						body="${message}|${exception:format=ToString}" />
		<!--
		<target name="dbLog"
            xsi:type="Database"
            connectionString="Data Source=192.168.1.13;Initial Catalog=Homis;User Id=homisdev;Password=1;MultipleActiveResultSets=True"
            keepConnection="true"
            commandText="INSERT INTO Log([TimeStamp],[Level],[Message],[Details],[Tags]) VALUES(@timeStamp,@level,@message,@details,@tags)">
			<parameter name="@timeStamp" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@details" layout="${exception:format=ToString}" />
			<parameter name="@tags" layout="${logger}" />
		</target>
		-->
	</targets>

	<rules>
    <!-- Brug warning level for at se performance logs, Warn,  -->
    <logger name="*" minlevel="Info" writeTo="textFileLog"/>
    <!-- Brug Trace level for at.. øøhh se logs -->
    <!--logger name="*" minlevel="Trace" writeTo="textFileLog"/-->
		<logger name="*" minlevel="Error" writeTo="mail"/>
	</rules>
</nlog>
