<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  throwExceptions="false"
  internalLogLevel="Error"
  internalLogFile="C:\mounts\files\Logs\nlog.log">

	<targets async="true">
		<target name="textFileLog"
				xsi:type="File"
							fileName="${appsetting:item=NLogBaseDir}${shortdate}.log"
				layout="${longdate}|${logger}|${level}|${message}|${exception:format=ToString}"
							archiveEvery="Day"
							maxArchiveFiles="90"
		/>
		<target name="bomsystemFileLog"
				xsi:type="File"
							fileName="${appsetting:item=NLogBomDir}${shortdate}.log"
				layout="${longdate}|${logger}|${level}|${message}|${exception:format=ToString}"
							archiveEvery="Day"
							maxArchiveFiles="90"
		/>
		<target name="mail" xsi:type="Mail" smtpServer="${appsetting:item=smtp.host}" smtpPort="${appsetting:item=smtp.port}"
							smtpUserName="${appsetting:item=smtp.username}" smtpPassword="${appsetting:item=smtp.password}"
							smtpAuthentication="Basic" enableSsl="True"
							from="${appsetting:item=NLogSenderEmail}" to="${appsetting:item=NLogRecipientEmail}"
							subject="${longdate} ${logger}: ${message}"
							body="${message}|${exception:format=ToString}" />
		<target name="dbLog"
				xsi:type="Database"
				connectionStringName="DefaultConnection"
				keepConnection="true"
				commandText="INSERT INTO NLogEntries([TimeStamp],[Level],[Message],[logger], [details]) VALUES(@timeStamp,@level,@message,@tags, @details)">
			<parameter name="@timeStamp" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@details" layout="${exception:format=ToString}" />
			<parameter name="@tags" layout="${logger}" />
		</target>
	</targets>

	<rules>
		<!--Logger db ændringer i database, linie kan udkommenteres, hvis ændringerne ikke skal logges-->
		<logger name="*" minlevel="Info" writeTo="dbLog">
			<filters defaultAction="Ignore">
				<when condition="not equals('${logger}','Niras.Jordflytning.Core.BusinessLogic.BomSystemBusiness')" action="Log" />
			</filters>
		</logger>

		<!-- Brug warning level for at se performance logs -->
		<logger name="*" minlevel="Warn" writeTo="textFileLog">
			<filters defaultAction="Ignore">
				<when condition="not equals('${logger}','Niras.Jordflytning.Core.BusinessLogic.BomSystemBusiness')" action="Log" />
			</filters>
		</logger>
		<!-- Brug Trace level for at.. øøhh se logs -->
		<!--logger name="*" minlevel="Trace" writeTo="textFileLog"/-->
		<logger name="*" minlevel="Error" writeTo="mail">
			<filters defaultAction="Ignore">
				<when condition="not equals('${logger}','Niras.Jordflytning.Core.BusinessLogic.BomSystemBusiness')" action="Log" />
			</filters>
		</logger>
		<logger name="*" minlevel="Info" writeTo="bomsystemFileLog">
			<filters defaultAction="Ignore">
				<when condition="equals('${logger}','Niras.Jordflytning.Core.BusinessLogic.BomSystemBusiness')" action="Log" />
				<when condition="not equals('${logger}','Niras.Jordflytning.Core.BusinessLogic.BomSystemBusiness')" />
			</filters>
		</logger>
	</rules>
</nlog>