<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Niras.Jordflytning.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<!--  Hentes fra Azure -->
		<add name="DefaultConnection" connectionString="" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<applicationSettings>
		<Niras.Jordflytning.Core.Properties.Settings>
			<setting name="Niras_Jordflytning_Core_dk_niras_informatik_emailservice_EmailService" serializeAs="String">
				<value>http://informatik.utilityportal.niras.dk/Services/EmailTest/EmailService.asmx</value>
			</setting>
		</Niras.Jordflytning.Core.Properties.Settings>
	</applicationSettings>
	<appSettings>
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="VisualStudioDesignTime:Enabled" value="true" />
		
		<!-- Kort Info - Hentes fra Azure -->
		<add key="KortApiUrl" value="https://nirasmap.niras.dk/KortInfoApi.ashx?version=1" />
		<add key="KortPageSted" value="Default" />
		<add key="KortPageMidlertidigeModtagere" value="Midlertige_modtagere" />
		<add key="KortPageModtagere" value="ModtagerAnlaeg" />
		<add key="KortSite" value="Flytjord" />

		<!-- Stier - Hentes fra Azure -->
		<add key="TempBaseFileDir" value="" />
		<add key="DokumentationBaseFileDir" value="" />
		<add key="DokumenterBaseFileDir" value="" />
		<add key="AnalyseDokumentBaseFileDir" value="" />
		<add key="BlanketBaseFileDir" value="" />
		<add key="ZipArchivePath" value="" />
		<add key="FaktureringBaseFileDir" value="" />
		<add key="NyhederFileDir" value="" />

		<!-- Mail - Hentes fra Azure -->
		<add key="smtp.host" value="" />
		<add key="smtp.port" value="" />
		<add key="sender.address" value="" />
		<add key="sender.displayname" value="" />
		<add key="smtp.username" value="" />
		<add key="smtp.password" value="" />
		<add key="smtp.usessl" value="" />


		<!--JordforureningOpslag - Hentes fra Azure -->
		<add key="dmpWfsUrl" value="" />
		<add key="dmpDKJordWfsUrl" value="" />
		<add key="MatrikelWfsUrl" value="" />
		<add key="kulturarvWfsUrl" value="" />
		<add key="plansystemWfsUrl" value="" />
		<add key="matrikelWfsRequestUrl" value="" />

		
		<add key="geoEnvironUrl" value="http://netforvaltning.aarhus.geoenviron.dk/Service_GeoEnviron.svc" />
		<!-- add  key="geoEnvironUrl" value="https://aarhus-netforvaltning.geoenviron.dk/Service_GeoEnviron.svc" / -->
		<!--<add key="geoEnvironUsername" value="aarhusjordflyt" />
		<add key="geoEnvironPassword" value="Un2%*Ano0Tzh" />-->

		<!-- PDF Service - Hentes fra Azure -->
		<add key="pdfCrowdUsername" value="" />
		<add key="pdfCrowdApiKey" value="" />

		<!--1=Alle kommuner aktive eller ej, 0=nej, kun aktive kommuner - Hentes fra Azure -->
		<add key="AdresseAlleKommuner" value="1" />

		<!--ModtageranlægId på ÅrhusHavn, hvor der specielfunktionalitet til godkendelselse af jorden. - Hentes fra Azure -->
		<add key="AarhusHavnModtagerAnlaegIds" value="" />

		<!-- Modtageranlæg Aktiv FRA/TIL overskredet dage - Hentes fra Azure -->
		<add key="ModtagerAnlaegAktivDage" value="" />

		<!-- Transportører - Hentes fra Azure -->
		<add key="UkendtTransportoerId" value="" />

		<!-- Gebyr og Tidsregistrering Komune ID'er, adskildt med komma -->
		<!-- 
		D0F0A3B6-EE2B-4E11-BF49-00E0C87C37F6 // Faxe 
	    473A4C71-6614-41AE-8353-064A9D2B7E2E // Norddjurs
	    FF8AEE8D-3512-4E7E-94A4-51B8BEB3C732 // Roskilde
	    D1FFE942-1608-4A13-A7F3-80B11AE019E3 // Skanderborg
	    DED8BD8B-F67D-47D4-B0C0-54C537B0BF0D // Solrød
	    5FFFD906-A0FA-4E4A-B4BC-E9993B03F103 // Sorø
	    CD882C46-7A67-48FC-BBBC-9146B0288B4C // Stevns
	    F6CF49FC-5008-45EB-A7B8-0FD8B754106A // Sydsjurs
	    A15D5888-BC70-4206-871E-A47A0C05DECC // Aarhus
		-->
		<add key="GebyrTidsregistreringKommuner" value="FF8AEE8D-3512-4E7E-94A4-51B8BEB3C732,DED8BD8B-F67D-47D4-B0C0-54C537B0BF0D,A15D5888-BC70-4206-871E-A47A0C05DECC" />

		<!-- Google Maps Api - Hentes fra Azure -->
		<add key="GoogleMapsApiKey" value="" />

		<!--Google Analytics - Hentes fra Azure -->
		<add key="ga-urchin" value="" />
		<add key="ga-domainName" value="" />

		<!-- Maintenance nøgle, tillader kald fra eksterne jobs - Hentes fra Azure -->
		<add key="MaintenanceKey" value="f30bee66-9ea2-49ba-9d75-9f465b34b7de" />
	</appSettings>
	<system.web>
		<globalization  culture="da-DK"  uiCulture="da-DK"/>
		<!-- max filstørrelse er sat til 50mb -->
		<httpRuntime maxRequestLength="51200" targetFramework="4.8" />
		<!--<httpRuntime maxRequestLength="4096" targetFramework="4.5" />-->
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="WebMatrix.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="WebMatrix.WebData, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Default/FrontPage" slidingExpiration="true" timeout="4200" />
		</authentication>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Optimization" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<sessionState timeout="4200" />
		<!-- session expires after 7 hours -->
		<!--<customErrors mode="On" defaultRedirect="/Default/Error"/>-->
		<customErrors mode="Off" defaultRedirect="/Default/Error.cshtml" />
		<httpModules>
		</httpModules>
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<!-- max filstørrelse er sat til 50mb -->
				<requestLimits maxAllowedContentLength="50000000" />
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="BlanketterHandler" path="Blanketter/*.pdf" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="HistorikArkivHandler" path="HistorikArkiv/*.zip" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<modules>
			<!-- runAllManagedModulesForAllRequests="true" -->
		</modules>
		<rewrite>
			<rules>
				<clear />
				<rule name="HTTP to HTTPS redirect" enabled="true" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{SERVER_PORT_SECURE}" pattern="^0$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
				</rule>
				<rule name="os2flytjord.dk redirect subdomains" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" />
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="*.os2flytjord.dk*" />
					</conditions>
					<action type="Redirect" url="https://{C:1}.flytjord.dk{C:2}{PATH_INFO}" appendQueryString="true" />
				</rule>
				<rule name="os2flytjord.dk redirect root" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" />
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="os2flytjord.dk*" />
					</conditions>
					<action type="Redirect" url="https://flytjord.dk{C:1}{PATH_INFO}" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
			<!--<dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>-->
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>
	<system.serviceModel>
		<services>
			<service name="Niras.Jordflytning.BomSystemService">
				<endpoint address="" name="BomSystemServiceEndPoint" binding="basicHttpBinding" bindingConfiguration="HttpBinding_Bomservice" bindingNamespace="" contract="Niras.Jordflytning.IBomSystemService" />
				<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
			</service>
			<service name="Niras.Jordflytning.AdvisService">
				<endpoint address="http://informatik.utilityportal.niras.dk/Services/EmailTest/EmailService.asmx" name="AdvisServiceEndPoint" binding="basicHttpBinding" bindingNamespace="" contract="Niras.Jordflytning.IAdvisService" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<bindings>
			<basicHttpBinding>
				<binding name="HttpBinding_Bomservice" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
					<readerQuotas maxStringContentLength="2147483647"/>
					<security mode="Transport">
						<transport clientCredentialType="None"/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
	</system.serviceModel>
</configuration>