<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
		<!--  Hentes fra Azure -->
		<add name="DefaultConnection" connectionString="Data Source=INFO-UDV-DB01;Initial Catalog=JordflytningTest;User Id=jordflytningtest;Password=indsæt password" providerName="System.Data.SqlClient"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
	<appSettings>
		<!-- Stier - Hentes fra Azure -->
		<add key="TempBaseFileDir" value="C:\temp\flytjord\Dokumentation\Personer\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="DokumentationBaseFileDir" value="C:\temp\flytjord\Dokumentation\Anmeldelser\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="DokumenterBaseFileDir" value="C:\temp\flytjord\Dokumentation\Modtageanlaeg\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="AnalyseDokumentBaseFileDir" value="C:\temp\flytjord\Dokumentation\Stikproeve\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="BlanketBaseFileDir" value="C:\temp\flytjord\Blanketter\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ZipArchivePath" value="C:\temp\flytjord\HistorikKommunikation\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="FaktureringBaseFileDir" value="C:\temp\flytjord\Fakturering\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="NyhederFileDir" value="|DataDirectory|\nyheder\" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<!-- Mail - Hentes fra Azure -->
		<add key="smtp.host" value="relay807.mysmtp5.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="smtp.port" value="587" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="sender.address" value="no-reply@niras.dk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="sender.displayname" value="FlytJord" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="smtp.username" value="os2" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="smtp.password" value="indsæt password" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="smtp.usessl" value="True" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		
		
		<!--JordforureningOpslag - Hentes fra Azure -->
		<add key="dmpWfsUrl" value="https://b0902-prod-dist-app.azurewebsites.net/geoserver/wfs" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="dmpDKJordWfsUrl" value="https://b0501-prod-arldgeo-app.azurewebsites.net/geoserver/DKJord/wfs" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="MatrikelWfsUrl" value="https://nirasmap.niras.dk/wfs.aspx" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="kulturarvWfsUrl" value="http://www.kulturarv.dk/ffgeoserver/public/wfs" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="plansystemWfsUrl" value="http://geoservice.plansystem.dk/wfs/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="matrikelWfsRequestUrl" value="https://services.datafordeler.dk/MATRIKLEN2/MatGaeldendeOgForeloebigWFS/1.0.0/WFS?username=<<indsæt brugernavn>>&amp;password=indsæt password" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<add key="geoEnvironUrl" value="http://netforvaltning.aarhus.geoenviron.dk/Service_GeoEnviron.svc" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<!-- add  key="geoEnvironUrl" value="https://aarhus-netforvaltning.geoenviron.dk/Service_GeoEnviron.svc" xdt:Transform="Replace" xdt:Locator="Match(key)" / -->
		<!--<add key="geoEnvironUsername" value="aarhusjordflyt" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="geoEnvironPassword" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->

		<!-- PDF Service - Hentes fra Azure -->
		<add key="pdfCrowdUsername" value="demo" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="pdfCrowdApiKey" value="indsæt API key" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<!--1=Alle kommuner aktive eller ej, 0=nej, kun aktive kommuner - Hentes fra Azure -->
		<add key="AdresseAlleKommuner" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<!--ModtageranlægId på ÅrhusHavn, hvor der specielfunktionalitet til godkendelselse af jorden. - Hentes fra Azure -->
		<add key="AarhusHavnModtagerAnlaegIds" value="85D720F4-4F89-4764-B8D0-26F28144B29F,76EE148B-AAC9-4D1A-A222-3CF5ADAA6E83,3D15E727-4D7B-4E7E-A9E4-B79A6DDE0E8F,6E06973B-C2FF-4651-A009-78C75514909A" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<!-- Modtageranlæg Aktiv FRA/TIL overskredet dage - Hentes fra Azure -->
		<add key="ModtagerAnlaegAktivDage" value="7" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<!-- Transportører - Hentes fra Azure -->
		<add key="UkendtTransportoerId" value="DE49DC22-1022-4661-A5A7-7669075A8DB5" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<!-- Gebyr og Tidsregistrering Komune ID'er, adskildt med komma -->
		<add key="GebyrTidsregistreringKommuner" value="FF8AEE8D-3512-4E7E-94A4-51B8BEB3C732,DED8BD8B-F67D-47D4-B0C0-54C537B0BF0D,A15D5888-BC70-4206-871E-A47A0C05DECC" />
		
		<!-- Google Maps Api - Hentes fra Azure -->
		<add key="GoogleMapsApiKey" value="indsæt API key" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<!--Google Analytics - Hentes fra Azure -->
		<add key="ga-urchin" value="UA-46104055-1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ga-domainName" value="flytjord.dk" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<!-- Maintenance nøgle, tillader kald fra eksterne jobs - Hentes fra Azure -->
		<add key="MaintenanceKey" value="f30bee66-9ea2-49ba-9d75-9f465b34b7de" />
		
	</appSettings>
	<!--<system.webServer>
		<rewrite xdt:Transform="RemoveAll" />
	</system.webServer>-->

	<system.webServer>
		<rewrite>
			<rules>
				<rule name="HTTP to HTTPS redirect" xdt:Transform="Remove" />
			</rules>
		</rewrite>
	</system.webServer>
</configuration>