<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--PRODUKTION-->
    <!--<add name="DefaultConnection"
         connectionString="Data Source=HOSDINF75\SQLEXPRESS;Initial Catalog=Jordflytning;User Id=jordflytning;Password=EAFA0BB6-3947-4925-8A54-9E010487F973"
         providerName="System.Data.SqlClient"/>
    <add name="JordflytningEntities"
         connectionString="metadata=res://*/DataAccess.JFModel.csdl|res://*/DataAccess.JFModel.ssdl|res://*/DataAccess.JFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOSDINF75\SQLEXPRESS;Initial Catalog=Jordflytning;User Id=jordflytning;Password=EAFA0BB6-3947-4925-8A54-9E010487F973;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient"/>-->
    
    <!--UDVIKLING-->
    <add name="DefaultConnection" connectionString="Data Source=infudv2\SQL2008DEV;Initial Catalog=Jordflytning;User Id=jordflytning;Password=Jordflytning" providerName="System.Data.SqlClient" />
    <add name="JordflytningEntities" connectionString="metadata=res://*/DataAccess.JFModel.csdl|res://*/DataAccess.JFModel.ssdl|res://*/DataAccess.JFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=infudv2\SQL2008DEV;Initial Catalog=Jordflytning;User Id=jordflytning;Password=Jordflytning;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--UNIT-TEST-->
    <!--<add name="DefaultConnection" 
         connectionString="Data Source=infudv2\SQL2008DEV;Initial Catalog=JordflytningV0.13UnitTest;User Id=jordflytning;Password=Jordflytning" 
         providerName="System.Data.SqlClient" />
    <add name="JordflytningEntities" 
         connectionString="metadata=res://*/DataAccess.JFModel.csdl|res://*/DataAccess.JFModel.ssdl|res://*/DataAccess.JFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=infudv2\SQL2008DEV;Initial Catalog=JordflytningV0.13UnitTest;User Id=jordflytning;Password=Jordflytning;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />-->

</connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <appSettings>
    <add key="dmpWfsUrl" value="https://arealinformation.miljoeportal.dk/gis/services/DKJord/MapServer/WFSServer" />
    <add key="MatrikelWfsUrl" value="http://strapdrift.kortinfo.net/wfs.aspx" />
    <add key="enableSimpleMembership" value="true" />
    <add key="TempBaseFileDir" value="c:\temp\unittest\" />
    <!--c:\temp\dokumentation\personer\-->
    <add key="DokumentationBaseFileDir" value="c:\temp\unittest\anmeld\" />
    <!--c:\temp\dokumentation\anmeldelser\-->
    <add key="webpages:Enabled" value="false" />
    <add key="smtp.host" value="mxi.niras.net" />
    <add key="smtp.port" value="25" />
    <add key="sender.address" value="Debug@jordflytning.dk" />
    <add key="sender.displayname" value="Jordflytning-Debug" />
    <!--PDF service-->
    <add key="pdfServiceUrl" value="http://dkplanpdf/Service.asmx" />
    <add key="pdfServiceUser" value="FlytJordTest" />
    <add key="pdfServicePwd" value="LockMyWord" />
    <!--Test user=FlytJordTest; Prod user=FlytJord; Der hører en opsætning (filplacering) til hver user-->
    <!--Samme pwd på prod og test-->
  </appSettings>
  <system.web>
    <roleManager enabled="true" defaultProvider="SimpleRoleProvider">
      <providers>
        <clear />
        <add name="SimpleRoleProvider" type="WebMatrix.WebData.SimpleRoleProvider, WebMatrix.WebData" />
      </providers>
    </roleManager>
    <membership defaultProvider="SimpleMembershipProvider">
      <providers>
        <clear />
        <add name="SimpleMembershipProvider" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" />
      </providers>
    </membership>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService_GeoEnviron" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dmz-geoenvir01/webservicenetforvaltning3/Service_GeoEnviron.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_GeoEnviron" contract="GeoEnvironServiceReference.IService_GeoEnviron" name="BasicHttpBinding_IService_GeoEnviron" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
